<!-- Header -->
<header id="header" {% if page.layout=='landing' %} class="alt" {% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special"> <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="{{ site.baseurl }} /index.html">Home</a></li> {% for my_page in site.pages %} {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li> {% endif %} {% endfor %}
            <li><a href="https://docs.google.com/forms/d/1BBm1quRA_NKuSh5yi0Q5qrQUfPjdAEXyJaPX4P2c95M/viewform">Membership</a></li>
            <li><a href="http://www.hamwan.org">Wiki</a></li>
            <li><a href="https://portal.memhamwan.net">Portal</a></li>
            <li><a href="{{ " /feed.xml " | prepend: site.baseurl }}" class="icon fa-feed"> RSS Feed</a></li>
            <li><a href="https://memhamwan.herokuapp.com/">Chat <img src="https://memhamwan.herokuapp.com/badge.svg" style="border: 0;" /></a>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
